@import "tailwindcss";

@theme inline {
  --color-gaming-dark: #0B0C10;
  --color-gaming-card: #1F2833;
  --color-valorant-red: #FF4655;
  --color-neon-cyan: #66FCF1;
  --color-silver-text: #C5C6C7;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background-color: var(--color-gaming-dark);
  color: var(--color-silver-text);
  font-family: var(--font-sans);
}